extends ./layouts/header
block content
  include ./layouts/navigation
  h2 Issue Asset
  form(action='/assets/issue', method='POST')
    select(name='employeeId')
      each emp in employees
        option(value=emp.id)= emp.name
    select(name='assetId')
      each asset in assets
        option(value=asset.id)= asset.serialNumber
    input(type='date', name='date')
    button(type='submit') Assign
    a(href='/assets') Cancel