// views/layout.pug
doctype html
html
  head
    title Asset Management System
    link(rel="stylesheet", href="/css/style.css")
  body
    include header
    include navigation

    block content

    include footer
