nav
  ul
    li: a(href='/employees') Employees
    li: a(href='/assets') Assets
    li: a(href='/categories') Categories
    li: a(href='/stock') Stock
    li: a(href='/assets/issue') Issue Asset
    li: a(href='/assets/return') Return Asset
    li: a(href='/assets/scrap') Scrap Asset