extends ../layouts/header
block content
  include ../layouts/navigation
  h2 Categories
  a(href='/categories/add') Add Category
  table
    thead
      tr
        th Name
        th Description
        th Actions
    tbody
      each cat in categories
        tr
          td= cat.name
          td= cat.description
          td
            a(href=`/categories/edit/${cat.id}`) Edit